#messages {
  list-style: none;
  /* リストの点を消す */
}

.sender {
  color: blue;
  /* 送信者のメッセージの色 */
  text-align: right;
  /* 右寄せにする */
}

.receiver {
  color: green;
  /* 受信者のメッセージの色 */
  text-align: left;
  /* 左寄せにする */
}